# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Sanal ortam klasörleri
venv/
env/
.venv/

# Hassas bilgiler
.env
service_account.json

# Oluşturulan görseller
styled_images/

# IDE/Editör dosyaları
.idea/
.vscode/